ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
}
input {
  outline: none;
  border: none;
}
.logo{
  margin-right: 36%;
}
.logo img{
  height:80px;
}
.nav-mob {
  border-radius: 25px;
  background-color: #969696;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  transition: 0.6s ease-in-out;
}
nav.active {
  box-shadow: 5px 10px 30px rgba(244, 241, 239, 0.5);
  background-color: #ffffff;
}
nav ul {
  display: flex;
}

nav ul li {
  font-family: calibri;
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #000000;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}
nav ul li a:hover {
  background-color: #9AD1D4;
  color: #ffffff;
  box-shadow: 5px 10px 30px rgba(244, 241, 239, 1.5);
  transition: all ease 0.2s;
}