.container{
    padding:5%;
}
.container .img{
    text-align:center;
}
.container .details{
    border-left:3px solid #ded4da;
}
.container .details p{
    font-size:15px;
    font-weight:bold;
}
.img-rounded{
    width: 50%!important;
}
.user-name{
    font-size: 30px;
    color: #fff;
}
.user-email{
    font-size: 18px;
    color: #fff; 
}